annotated-doc           
annotated-types        
anyio                  
click                  
colorama              
dlib                    
exceptiongroup         
face-recognition       
face-recognition-models 
fastapi                
h11                     
idna                   
numpy                  
opencv-python          
pillow                
pip                    
pydantic               
pydantic_core          
python-multipart        
setuptools              
sniffio                 
starlette              
typing_extensions      
typing-inspection      
uvicorn                